@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    font-family: Roboto, sans-serif;
}

main {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 900px;
}

h1 {
    text-align: center;
}

.nav-link.active {
    background: grey;
}