{% extends 'base.html' %}

{% block style %}
    <title>Index</title>
{% endblock %}
{% block content %}
{% include 'header.html' %}
<main>
<h2>Список товаров</h2>
    <ol>
        {% for item in goods %}
            {% if item.count == 0 %}
                <li>
                <a href="{% url 'items' item.id %}"> name: {{item.name}}, description: Товар отсутствует </a>
                </li>
            {% else %}
                <li>
                <a href="{% url 'items' item.id %}"> name: {{item.name}}, description: {{ item.description }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</main>
{% include 'footer.html' %}
{% endblock %}